$primary-100: #409EF5;
$primary-200   : #016DD3;


$secondary-100: #fff;
$secondary-200 : #D7D7D7; 
$secondary-300 : #DCDCDC;


$dark-100: #454257;

$accent    : #9C27B0;
$dark      : #1D1D1D;
$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;